.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
}


    

@media screen and (max-width: 860px){
    .projects_header{
        flex-wrap: wrap;        
        justify-content: center;
    }
}

.projects_header{
    padding: 0 5%;
}