.skil_container{
    background-color: white;
    border-radius: 5px;    
    padding: 0 30px;
    margin: 1em;        
    min-width: fit-content;    
    letter-spacing: 0.2rem;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    max-width: 90%;
}

.skil_container > p{
    margin: 5px;
}
    

.skill_title{
    color:#7b4f87;
    font-size:22px;
    font-weight: 600;
    letter-spacing: 3.3px;
    line-height: 26px;
    text-align: left;
    
}

.Skills{
    margin: 50px 10%;
}
