.Education{
    background-image: url(../../Images//blue-back.svg);    
    background-repeat: repeat-y;
    background-position: bottom;
    background-size: cover;
}

.Education__header{
    display: flex;    
    justify-content: center;
    align-items: center;        
}

.certifications{
    border-left: 2px solid red;
    padding: 1rem;
    align-self: flex-start;    
    margin-left: 1rem;
}

.title-text{    
    color: rgb(211, 37, 37);    
    font-weight: bold;    
    font-size: 1.9rem;
    letter-spacing: 0.02rem;        
}

.icon{
    margin-right: 0.5rem;
}

.description-container{
    display: flex;    
    align-items: center;
    margin: 1rem 0;
}

.course-list{   
    margin: 0;    
    padding-left: 4rem;
    font-size: 1.2rem;    
}



.university-text{    
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.univerity-logo{
    margin: 1rem;
}

@media screen and (max-width: 860px){
    .Education__header,
    .Education__description{
        flex-direction: column;
        align-items: center;       
        padding: 0; 
        margin-left: 0 ;
    }
}
@media screen and (max-width: 880px){
    .description-container{
        flex-direction: column;
    }
    .title-text{
        text-align: center;
    }
    .certifications{
        align-self: center;
        border: none;
        padding: 1rem 0;
        
    }
}

