.skills_body{
    display: flex;    
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: center;    
}

.bold{
    font-weight: 600;
}


.skills_body ul{
    padding: 0;
}

.time{
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}