.App{
    background-color: #f9f8f4;
}

.spacer{
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer-blue{
    background-image: url("./Images/blue.svg");
}

.layer-red{
    background-image: url("./Images/red.svg");
}